[Unit]
Description=PostgreSQL is an object-relational database management system (ORDBMS)
# this unit will only start after docker.service
After=docker.service some-data.service
Requires=docker.service some-data.service
[Service]
# The    systemd        wait    time    during  starting        the service     before  marking it
# as    failed
TimeoutStartSec=0
# postgres image will be pulled from docker public registry
ExecStartPre=/usr/bin/docker pull postgres
# we use rm just in case the container with the name "some-postgres" is left
ExecStartPre=-/usr/bin/docker rm some-postgres
# we start docker container
ExecStart=/usr/bin/docker run --rm --name some-postgres \
  -v "some-data:/var/lib/posgresql" \
  -e "POSTGRES_PASSWORD=password" -p 5432:5432 postgres
ExecStop=/usr/bin/docker stop some-postgres
[Install]
WantedBy=multi-user.target
